@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

li {
    list-style-type: none;
}

section {
    width: 100%;
}

.row {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 56px 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#index__body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

button {
    padding: 24px 24px;
    margin-top: 8px;
    border-radius: 99px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.main__container {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: crimson;
}

p {
    line-height: 1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}